<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
<head>
  <!-- META -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Forkbit.io - Welcome aboard!</title>

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

  <header itemscope itemtype="http://schema.org/Organization">

    <div class="container">

      <h1 id="logo" itemprop="logo" class="col-md-12">

        <a itemprop="url" href="<%= root_path %>">
          forkbit

          <i class="fa fa-code-fork"></i>
        </a>

      </h1> <!-- #logo -->

    </div> <!-- .container -->

  </header>

  <%= yield %>

</body>
</html>
